<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>

<table *ngIf="dataLoaded!=false" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Ad</th>
      <th>Model</th>
      <th>Fiyat</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Bilgi</th>
      <th>İşlem</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.carId }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }} TL</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.description }}</td>
      <td><a class="btn btn-warning" >
        <i class="fas fa-car"></i> Araç Kirala
      </a> </td>
    </tr>
  </tbody>
</table>
